.box-A {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 10;
}

.tab {
    width: 50%;
    height: 10%;
    outline: solid 1px black;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01579B;
    color: rgb(180, 180, 180);
}

.selectedTab {
    background-color: #fff;
    color: #000;
}

.tabContent {
    height: 90%;
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.aboveLists{
    padding: 1em;
    padding-left: 15%;
    width: 100%;
    height: 8%;
}

.aboveLists > * {
    float: left;
}

.aboveLists > button {
    float: right;
    font-size: 10pt;
    height: 100%;
}

.fakeTimeSelectionBox{
    height: 2em;
    width: 15em;
    margin: 0 0.5em;
    border: solid black 0.2em;
}

.fakeTimeSelectionBox > button{
    float: right;
}

.list{
    width: 100%;
    display: grid;
}

.topList{
    height: 51%
}

.bottomList{
    height: 41%;
}

.headerRow{
    width: 100%;
    height: 2em;
    background-color: rgb(242, 242, 242);;
}

.valueRow{
    width: 100%;
    height: 2em;
    background-color: rgb(255, 255, 255);
}

.selectedRow{
    background-color: rgb(255, 255, 153);
}