.boxB {
    width: 100%;
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: white;
    padding: 1em;
    border: solid black 1px;
}

.inactive {
    color: rgb(180, 180, 180);
}

.boxBContent {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.5em  1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) 3fr repeat(3, 1fr) 3fr 6fr 2fr;
}


.headingAndDataContainer {
    display: flex;
    flex-flow: column;
}

.grid-span-4 { grid-column-end: span 4 }
.grid-span-2 { grid-column-end: span 2 }
.grid-span-1 { grid-column-end: span 1 }

.boxBHeading {
    margin: 0;
}

.boxBData {
    margin: 0;
    font-size: 12pt; /*Otherwise Times New Roman looks smaller than Arial*/
}

.data_multipleLines {
    border: solid black 1px;
    padding: 0.2em 0.5em;
    flex-grow: 1;
}

.buttonContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.buttonContainer > button {
    padding: 0.5em 1em;
}