.boxB {
    width: 100%;
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 9;
    background-color: white;
    padding: 1em;
    border: solid black 1px;
}

.inactive {
    color: rgb(180, 180, 180);
}

.boxBContent {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.5em  1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) 3fr repeat(3, 1fr) 3fr 6fr minmax(0, 2.3fr) 1fr;
}


.headingAndDataContainer {
    display: flex;
    flex-flow: column;
}

.grid-span-5 { grid-column-end: span 5 }
.grid-span-4 { grid-column-end: span 4 }
.grid-span-3 { grid-column-end: span 3 }
.grid-span-2 { grid-column-end: span 2 }
.grid-span-1 { grid-column-end: span 1 }

.boxBHeading {
    margin: 0;
}

.boxBData {
    font-size: 12pt; /*Otherwise Times New Roman looks smaller than Arial*/
    outline: none;
}

.data_singleLine {
    border: solid black 1px;
    padding: 0.2em 0.5em;
    height: 1.6em;
}

.data_multipleLines {
    border: solid black 1px;
    padding: 0.2em 0.5em;
    flex-grow: 1;
    display: flex;
    height: calc(100% - 10pt);
}

.data_multipleLines > p {
    flex-grow: 1;
}

.anteckning {
    overflow-y: hidden;
    word-wrap: break-word;
    /* TODO: ellipisis on overflow */
}

.boxB button {
    padding: 0.5em 1.3em;
    margin: auto;
}

.modalDialogueBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 60%;
    z-index: 10;
    border: solid black 1px;
    background-color: white;
    padding: 0.5em;
}

.preparationDialogue {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1em;
    flex-grow: 1;
}

.modalDialogueBox > h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
}

.buttonContainer > button {
    width: 30%;
    margin: 0.5em 0 0 0.5em;
    float: right;
}

#note_editable {
    padding: 0.4em;
    overflow-y: auto;
    flex-grow: 1;
    border: solid black 1px;
}