#confirmDialogue {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#confirmDialogueBox {
    height: 23%;
    width: 23%;
    background-color: white;
    border: 1px solid black;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2em;
}

#confirmDialogue_question {
    grid-column: span 2;
}

#confirmDialogueBox>button {
    margin: 0.2em;
}