.context-menu > ul {
    list-style: none;
}

.context-menu {
    position: absolute;
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 0;
    margin: 0;
}

.menu>li>a {
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
}

.menu>li>a:hover {
    background: rgb(230, 230, 230);
    color: rgb(30, 30, 30);
}