*{
    box-sizing: border-box;
    font: inherit;
}

body {
    margin: 0;
}

.outerDiv {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/Bakgrund1.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

.innerDiv{
    background-color: rgb(230, 230, 230);
    width: calc(100% * 1685 / 1920);
    height: calc(100% * 995 / 1080);
    position: absolute;
    top: calc(100% * calc(1080 - 995) / 1080);
    left: calc(100% * calc(1920 - 1685) / 1920);
    padding: 1.5em 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 1fr) 0.5fr repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.boxA, .boxB{
}

.arrow {
    width: 100%;
    height: 100%;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#administrationButton{
    width: 15em;
    height: 3em;
    margin-left: auto;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
}

.topHeading {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.value {
    font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: rgb(255, 242, 204);
    border: solid black 1px;
}

button:hover{
    filter: brightness(0.95);
}